@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: #000000; 
       background-image: url("../Images/Team/ourteam.jpg"); 
       background-repeat: no-repeat; 
       background-attachment: fixed; 
       background-position: center;
       background-size: 1360px;
}

.img-responsive {
	padding: 2%;
	margin-bottom: 1em;
	height: 200px;
	width: 350px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.effect {
	-webkit-transform: perspective(1px) translateY(0);
	transform: perspective(1px) translateY(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.effect:hover,
.effect:focus,
.effect:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
.dd1{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 120px;
}
#idid{
	padding: 12px
}
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

.hhh {
  cursor: default;
  position: absolute;
  
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

.hhh span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.hhh span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.hhh span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.hhh span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.hhh span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.hhh span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.hhh span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

.hhh span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

.hhh span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

.hhh span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

.hhh span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

.hhh span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

.hhh span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
